# Core functionality - changes here should be rare!
/src/app.py                   @madsonmuller
/src/backend/database.py      @madsonmuller
/src/backend/routers/auth.py  @madsonmuller

# The frontend will need refactored soon to be more object oriented.
/src/static/   @madsonmuller
